atomicwrites==1.1.5
attrs==18.1.0
click==6.7
enum34==1.1.6
flasgger==0.9.0
Flask==1.0.2
funcsigs==1.0.2
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.3
mock==2.0.0
more-itertools==4.2.0
numpy==1.14.5
pandas==0.23.3
pbr==4.2.0
pluggy==0.6.0
py==1.5.4
pytest==3.6.3
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
six==1.11.0
Werkzeug==0.14.1
